# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Dependencies
# =========================
**/node_modules/

# =========================
# Build Output
# =========================
**/dist/
**/build/
coverage/

# =========================
# Logs
# =========================
**/logs/
*.log

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Vite
# =========================
.vite/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
Desktop.ini